<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Espécie</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <style>
      body {
        background-color: #f0f2f5;
        padding-top: 50px;
      }
      .container {
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      .btn-outline-primary {
        margin-top: 1rem;
      }
      .form-label {
        display: block;
        margin-top: 1rem;
      }
      .form-control {
        margin-top: 0.5rem;
      }
      .bi {
        margin-right: 0.5rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-5 text-center" style="color: #006400">
        <i class="fa-solid fa-leaf"></i> Editar Espécie
      </h1>
      <form action="/species/<%= specie._id %>?_method=PATCH" method="POST">
        <!-- Nome Científico -->
        <div class="mb-3">
          <label for="scientific_name" class="form-label">
            <i class="fa-solid fa-dna"></i> Nome Científico
          </label>
          <input
            type="text"
            class="form-control"
            id="scientific_name"
            name="scientific_name"
            value="<%= specie.scientific_name %>"
            required
          />
        </div>

        <!-- Nome Comum -->
        <div class="mb-3">
          <label for="common_name" class="form-label">
            <i class="fa-solid fa-users"></i> Nome Comum
          </label>
          <input
            type="text"
            class="form-control"
            id="common_name"
            name="common_name"
            value="<%= specie.common_name %>"
            required
          />
        </div>

        <!-- Descrição -->
        <div class="mb-3">
          <label for="description" class="form-label">
            <i class="fa-solid fa-align-left"></i> Descrição
          </label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            required
          >
      <%= specie.description.trim() %></textarea
          >
        </div>

        <!-- Habitat -->
        <div class="mb-3">
          <label for="habitat" class="form-label">
            <i class="fa-solid fa-earth-americas"></i> Habitat
          </label>
          <input
            type="text"
            class="form-control"
            id="habitat"
            name="habitat"
            value="<%= specie.habitat %>"
            required
          />
        </div>

        <!-- Características -->
        <div class="mb-3">
          <label class="form-label">
            <i class="fa-solid fa-tree"></i> Características
          </label>
          <!-- Altura -->
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Altura"
            name="characteristics[altura]"
            value="<%= specie.characteristics.altura %>"
            required
          />
          <!-- Diâmetro -->
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Diâmetro"
            name="characteristics[diâmetro]"
            value="<%= specie.characteristics.diâmetro %>"
            required
          />
          <!-- Folhagem -->
          <input
            type="text"
            class="form-control"
            placeholder="Folhagem"
            name="characteristics[folhagem]"
            value="<%= specie.characteristics.folhagem %>"
            required
          />
        </div>

        <!-- URL da Imagem -->
        <div class="mb-3">
          <label for="image_url" class="form-label">
            <i class="fa-solid fa-image"></i> URL da Imagem
          </label>
          <input
            type="text"
            class="form-control"
            id="image_url"
            name="image_url"
            value="<%= specie.image_url %>"
          />
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-check"></i> Atualizar
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            onclick="window.history.back();"
          >
            <i class="fa-solid fa-arrow-left"></i> Cancelar
          </button>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
